<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>注册</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/css/slicknav.css">
    <link rel="stylesheet" href="./assets/css/animate.min.css">
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./assets/css/themify-icons.css">
    <link rel="stylesheet" href="./assets/css/slick.css">
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
<div th:replace="template.html::header"></div>
<main>
    <!-- Register Area Start -->
    <div class="register-form-area section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10">
                    <form class="register-form text-center" method="post" action="sign-up">
                        <!-- Login Heading -->
                        <div class="register-heading">
                            <span>注册</span>
                            <p th:style="${sign_up_info_style}" th:text="${sign_up_info}"></p>
                        </div>
                        <!-- Single Input Fields -->
                        <div class="input-box">
                            <div class="single-input-fields">
                                <label>用户名</label>
                                <input type="text" placeholder="输入用户名" name="username">
                            </div>
                            <div class="single-input-fields">
                                <label>账号</label>
                                <input type="text" placeholder="输入账号" name="account">
                            </div>
                            <div class="single-input-fields">
                                <label>手机</label>
                                <input type="text" placeholder="输入手机号" name="phone">
                            </div>
                            <div class="single-input-fields">
                                <label>密码</label>
                                <input type="password" placeholder="输入密码" name="password">
                            </div>
                            <div class="single-input-fields">
                                <label>确认密码</label>
                                <input type="password" placeholder="确认密码" name="confirm-password">
                            </div>
                        </div>
                        <!-- form Footer -->
                        <div class="register-footer">
                            <p>已经有账号?<a href="login">登录</a></p>
                            <button class="btn login-btn" type="submit">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Area End -->
</main>
<div th:replace="template.html::footer"></div>
<!-- Scroll Up -->
<div id="back-top" style="display: none;">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
</body>
</html>